
/* light: ccccff
middle: 8888bb
notsodark: 444477
dark: 000033 */

body {
  background-color: #ccccff;
  font-family: 'Merriweather', serif;
  margin: 0;
}
hr {
  border-style: dotted none none;
  border-width:5px;
  color: #8888bb;
  width:20%;
}

h1{
  color: #000033;
  font-family: 'Sacramento', sans-serif;
  font-size: 5em;
  margin: 0;
}

h2, h3{
  color: #8888bb;
  font-family: 'Montserrat', sans-serif;
}

img {
  vertical-align: middle;
}

section, footer {
  bottom: 0;
  color: #444477;
  left: 0;
  margin: auto;
  position:relative;
  right: 0;
  top: 0;
  width: 75%;
}

.headerSection{
  text-align: center;
}

.academicSection{
}

.workSection {
}

.skillsSection {
}
