
/* light: ccccff
middle: 8888bb
notsodark: 444477
dark: 000033 */

body {
  background-color: #000033;
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
  margin: 0;
}
hr {
  border-style: dotted none none;
  border-width:5px;
  color: #8888bb;
  width:20%;
}

h1{
  color: #ccccff;
  font-family: 'Sacramento', sans-serif;
  font-size: 7rem;
  margin: 0;
}

h2 {
  color: #8888bb;
  font-family: 'Merriweather';
  font-size: 3rem;
  font-weight: bolder;
  margin: 0;
  text-align: center;
}

h3{
  color: #8888bb;
  font-family: 'Merriweather';
  font-size: 2rem;
  margin:0;
}

img {
  vertical-align: middle;
}

header, main {
  margin:0;
}

section, footer {
  bottom: 0;
  color: #ccccff;
  left: 0;
  margin: 5rem auto 5rem auto ;
  right: 0;
  top:0;
  width: 75%;
}

table {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.sectionIcone{
  width:15%;
}

.sectionContent{
  width:75%;
}

.table{
  margin: 0 auto;
  text-align: left;
}
.headerSection{
  margin: 1rem auto 0 auto;

}

.attributions{
  font-size: 0.5rem;
  margin: auto;
  vertical-align: middle;
}

.sectionPerso{
  text-align: center;
}

.academicSection{
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.workSection {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillsSection {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.languagesSection{
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CV{
  display: none;
}

.goTopButton {
  background-color: red; /* Set a background color */
  border: none; /* Remove borders */
  border-radius: 10px; /* Rounded corners */
  bottom: 20px; /* Place the button at the bottom of the page */
  color: #ccf; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 18px; /* Increase font size */
  padding: 15px; /* Some padding */
  position: fixed; /* Fixed/sticky position */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
}

.goTopButton:hover {
  background-color: #88b; /* Add a dark-grey background on hover */
}

.nameHeader{
  text-align: center;
}

.shortDescriptionSection{
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shortcutsSection{
  margin: 1rem auto 0 auto;
}

a:visited{
  color:#ccf;
}

a:not(visited) {
  color:yellow;
}
